body{
    font-family:"Outfit", sans-serif;
    background:rgb(239, 239, 239);
    color:black; 
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

#enterBtn{
    background:linear-gradient(75deg, purple, rgb(106, 2, 106));
    color:white;
    font-size:2em;
    width:5em;
    height:2em; 
    border-radius:1em;
    border:none;
    font-family:Instrument Sans, sans-serif;
    font-weight:700;
    box-shadow:1px 1px 10px rgba(0,0,0,.4);
    margin-top:2em;
    border-left:5px solid rgb(106, 2, 106);
    border-top:5px solid rgb(106, 2, 106);
    border-bottom:5px solid rgb(83, 0, 83);
    border-right:5px solid rgb(85, 0, 85);
    transition:all .2s ease-in-out;
}
#enterBtn:hover{
    background:linear-gradient(75deg, rgb(106, 2, 106), purple);
    cursor:pointer;
    transform:translateY(-.2em);
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#homeTitle{
    font-size:10em;
    font-weight:700;
    font-family:Instrument Sans, sans-serif;

}
#homeSlogan{
    font-size:2em;
    font-weight:400;
}

.home-screen{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:100vh;
    box-shadow:1px 1px 10px rgba(0,0,0,.4);
    width:90%;
    height:55em;
    border:2px solid rgba(128, 0, 128, 0.26); 
    margin:auto;
    border-radius:3em;
}
.left-section{
    margin-left:3em;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
#homeimage{
    width:50%;
    border-radius:3em;
   
}

.loader{
    width:4rem;
    height:4rem;
    margin:1.5rem auto;
    border:6px solid rgba(128, 0, 128, .2);
    border-top-color:purple;
    border-radius:50%;
    animation:loader-spin .8s linear infinite;
}

@keyframes loader-spin{
    to{
        transform:rotate(360deg);
    }
}